.famax-showing {
    color: black;
    font-weight: normal;
}
.famax-duration {
    background-color: black;
    color: white;
    padding: 2px 3px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}
#famax-header {
    position: relative;
    background-color: #00BCD4;
    font: 24px Arial;
    color: white;
    line-height: 25px;
    height: 125px;
    text-align: left;
}
.famax-stat {
    float: right;
    margin: 10px;
    font: 10px Arial;
    color: #ccc;
    margin-top: 25px;
    text-align: center;
}
#famax-stat-holder {
    float: right;
    height: 100%;
}
.famax-stat-count {
    font: 18px Arial;
}
#famax-channel-desc {
    text-align: left;
}
#famax {
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin: 0px auto;
    font-family: Manjari;
    font-size: 14px;
    text-align: center;
    overflow-x: hidden;
    border: 1px solid #cccccc;
    overflow-y: auto;
}
.famax-video-tnail,
.famax-pic-tnail,
.famax-link-tnail {
    min-height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.famax-video-tnail,
.famax-pic-tnail,
.famax-link-tnail {
    cursor: pointer;
    cursor: hand;
}
.famax-video-tnail-box {
    background-color: #FFF;
    width: 92%;
    margin: 4%;
    float: left;
    overflow: hidden;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
}
#famax-encloser {
    padding: 2%;
    display: inline-block;
}
.famax-video-list-div {
    text-align: left;
    display: inline-block;
    background-color: rgb(230, 230, 230);
    float: left;
}
.famax-video-list-title {
    line-height: 17px;
    color: #438bc5;
    display: inline-block;
    padding: 2% 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.famax-video-list-views {
    color: #555;
    padding: 1% 10px;
    padding-bottom: 3%;
    display: inline-block;
    font-size: 12px;
}
.famax-playlist-sidebar {
    background-color: rgba(0, 0, 0, 0.8);
    float: right;
    max-width: 50%;
    height: 100%;
    color: white;
    text-align: center;
}
.famax-playlist-video-count {
    display: inline-block;
    margin: 3%;
    margin-top: 5%;
    height: 20%;
}
.famax-playlist-sidebar-video {
    opacity: 1;
    width: 22%;
    height: 50px;
    float: left;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    margin: 1%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.famax-tab {
    background-color: rgb(230, 230, 230);
    color: #666;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    cursor: hand;
}
#famax-tabs {
    text-align: left;
    background-color: rgb(230, 230, 230);
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
#famax-lightbox {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#famax-video-lightbox {
    opacity: 1;
}
#famax-header a {
    font-family: Manjari;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}
#famax-encloser a {
    font-weight: normal;
    color: #555;
}
#famax-header img {
    vertical-align: middle;
    height: 60px;
    margin: 4%;
    display: inline-block;
}
#famax-lightbox {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#picasa-img-lightbox {
    opacity: 1;
    max-width: 1000px;
    max-height: 700px;
    z-index: 200;
    cursor: pointer;
    cursor: mouse;
}
#picasa-lightbox-wrapper {
    height: 100%;
    width: 100%;
    white-space: nowrap;
}
#picasa-lightbox-image {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    z-index: 120;
}
#picasa-lightbox-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#famax-video-lightbox {} .famax-pic-train {
    width: 100%;
    border: none;
    display: block;
    margin: 2%;
}
._1y4 {
    height: 26px;
    left: 50%;
    margin: -13px 0 0 -17px;
    position: absolute;
    top: 50%;
    width: 35px;
}
.link-img,
.video-img {
    width: 100%;
}
.load-more-wrapper {}.famax-like-wrapper {
    display: inline-block;
    margin: 3%;
    position: absolute;
    right: 0;
    width: 70px;
}
#load-more {
    border: 2px solid #00BCD4;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #00BCD4;
    font-size: 22px;
    font-family: Manjari;
    float: left;
    width: 96%;
    margin: 20px 2%;
    cursor: pointer;
    cursor: mouse;
}
.load-more:hover {
    background-color: #00BCD4;
    color: white !important;
}
body {
    font-family: Manjari;
    font-size: 14px;
    text-align: center;
}
